{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "HQ API"
  },
  "host": "api.hellohq.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/ArticleStorages": {
      "get": {
        "tags": [
          "Articles - Article Storages"
        ],
        "summary": "Returns all article storages",
        "description": "An article storage is a storage unit for one or several article stocks.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleStorage"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles - Article Storages"
        ],
        "summary": "Creates a new article storage",
        "description": "Creates an article storage.",
        "parameters": [
          {
            "name": "articleStorage",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleStorage"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ArticleStorage"
            }
          }
        }
      }
    },
    "/v1/ArticleStorages({Id})": {
      "get": {
        "tags": [
          "Articles - Article Storages"
        ],
        "summary": "Returns the article storage with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleStorage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles - Article Storages"
        ],
        "summary": "Updates an existing article storage",
        "description": "Updates the article storage.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "articleStorage",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleStorage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleStorage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Articles - Article Storages"
        ],
        "summary": "Deletes an article storage",
        "description": "Deletes the article storage with the specified id.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Articles": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns all articles",
        "description": "An article is a stock item that your company sells, for example a digital camera. \r\n            An article can also be a service or activity that your company performs, for example a digital design. \r\n            Articles can be used to create positions on invoices or quotations, among others.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Article"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Creates a new article",
        "description": "Creates an article. You can find more details about articles in the <a href=\"#!/Articles_-_Articles/ArticlesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "article",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Updates an existing article",
        "description": "Updates the article. You can find more details about articles in the <a href=\"#!/Articles_-_Articles/ArticlesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "article",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Article"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Deletes an article",
        "description": "Deletes the article with the specified id.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/do.CreateTransaction": {
      "post": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Creates an article stock transaction for the given article",
        "description": "Creates an article stock transaction for the given article.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ArticlesV1CreateTransactionParameters",
            "in": "body",
            "description": "Required parameters are Type, Quantity and StorageId. TargetStorageId is only required when the transaction is of type 'Rearrange'.",
            "required": true,
            "schema": {
              "required": [
                "Type",
                "Quantity",
                "StorageId"
              ],
              "type": "object",
              "properties": {
                "Type": {
                  "enum": [
                    "GoodsIn",
                    "GoodsOut",
                    "Used",
                    "Loss",
                    "Broken",
                    "Rearrange",
                    "Correction"
                  ],
                  "type": "string"
                },
                "Quantity": {
                  "format": "double",
                  "type": "number"
                },
                "StorageId": {
                  "format": "int32",
                  "type": "integer"
                },
                "TargetStorageId": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ArticleStock"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/SalesPrices": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article sales prices for the article with the...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleSalesPrice"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Creates a new article sales price for the article with th...",
        "description": "Creates an article sales price for the specified article.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "articleSalesPrice",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleSalesPrice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ArticleSalesPrice"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/SalesPrices({SalesPriceId})": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article sales prices for the article with the...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SalesPriceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleSalesPrice"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Updates an existing article sales price for the article w...",
        "description": "Updates the article sales price.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "SalesPriceId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "articleSalesPrice",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleSalesPrice"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/ArticleSalesPrice"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/Stocks": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article stocks of the selected article",
        "description": "An article stock contains the information about the current stock amount for a given article and further stock keeping limits.\r\n            The article stock can only be changed by performing stock transactions.\r\n            The stock itself is automatically available when a new article is beeing created. The seperate creation of new stocks is not possible.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleStock"
              }
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/Stocks({StockId})": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article stock with the specified id of the se...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "StockId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleStock"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Updates an existing article stock",
        "description": "Updates the article stock.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "StockId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "articleStock",
            "in": "body",
            "description": "The article stock to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArticleStock"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleStock"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/Stocks({StockId})/Transactions": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article stocks transactions of the selected a...",
        "description": "",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "StockId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ArticleStockTransaction"
              }
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/Stocks({StockId})/Transactions({TransactionId})": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the article stock with the specified id of the se...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "StockId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TransactionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArticleStockTransaction"
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/CustomFields": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns all customfields of the article",
        "description": "A custom field contains a value for a certain custom field definition and is always linked to a certain entity that has custom fields, like a project.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        }
      }
    },
    "/v1/Articles({Id})/CustomFields({CustomFieldDefinitionId})": {
      "get": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Returns the custom field with the specified id of the sel...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles - Articles"
        ],
        "summary": "Updates an existing customfield of the article",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "customField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/AworkIntegration": {},
    "/v1/Companies": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns all companies",
        "description": "A company represents any entity you do business with, for example a customer, a supplier or a partner.\r\n            <br />\r\n            This list of all companies includes the <a href=\"#!/CompanyTypes/CompanyTypes_Get\">CompanyType</a>.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Company"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Name": "Company A",
                  "IndustrialSector": null,
                  "Description": "A simple company of type Customer",
                  "IBAN": null,
                  "BIC": null,
                  "DebitorNumber": null,
                  "CreditorNumber": null,
                  "TaxId": null,
                  "DefaultDeliveryConditionId": null,
                  "DefaultDeliveryCondition": null,
                  "DefaultPaymentConditionId": null,
                  "DefaultPaymentCondition": null,
                  "DefaultAddress": null,
                  "Addresses": null,
                  "ResponsibleUsers": null,
                  "CustomFields": null,
                  "CompanyTypes": [
                    {
                      "Name": "Customer",
                      "Number": "C12345",
                      "CompanyId": 0,
                      "Id": 1,
                      "CreatedBy": 1,
                      "UpdatedBy": 1,
                      "CreatedOn": "2022-09-26T07:47:46.6139555Z",
                      "UpdatedOn": "2022-09-26T07:47:46.6139555Z"
                    }
                  ],
                  "Files": null,
                  "Subsystems": null,
                  "Id": 1,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:46.6139555Z",
                  "UpdatedOn": "2022-09-26T07:47:46.6139555Z"
                },
                {
                  "Name": "Company B",
                  "IndustrialSector": null,
                  "Description": "A simple company of type Supplier",
                  "IBAN": null,
                  "BIC": null,
                  "DebitorNumber": null,
                  "CreditorNumber": null,
                  "TaxId": null,
                  "DefaultDeliveryConditionId": null,
                  "DefaultDeliveryCondition": null,
                  "DefaultPaymentConditionId": null,
                  "DefaultPaymentCondition": null,
                  "DefaultAddress": null,
                  "Addresses": null,
                  "ResponsibleUsers": null,
                  "CustomFields": null,
                  "CompanyTypes": [
                    {
                      "Name": "Supplier",
                      "Number": "S12346",
                      "CompanyId": 0,
                      "Id": 1,
                      "CreatedBy": 1,
                      "UpdatedBy": 1,
                      "CreatedOn": "2022-09-26T07:47:46.6139555Z",
                      "UpdatedOn": "2022-09-26T07:47:46.6139555Z"
                    }
                  ],
                  "Files": null,
                  "Subsystems": null,
                  "Id": 0,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:46.6139555Z",
                  "UpdatedOn": "2022-09-26T07:47:46.6139555Z"
                }
              ]
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Creates a new company",
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns the company with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Updates an existing company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "company",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Deletes a company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/Addresses": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns all company addresses of the company",
        "description": "A company address represents one of many addresses of companies.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyAddress"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Creates a new address for a company",
        "description": "Creates an address for the company.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyAddress"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyAddress"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/Addresses({AddressId})": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns the company address of the company with the speci...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AddressId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyAddress"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Updates an existing companie's address",
        "description": "Updates the address.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AddressId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyAddress"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Deletes a companie's address",
        "description": "Deletes the address for the company with the specified address id.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "AddressId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/Files": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns all Files of the specified Company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HQFile"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Creates a new File for the specified Company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "file",
            "in": "body",
            "description": "The new file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HQFile"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/Files({FileId})": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns the specified File of the specified Company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "FileId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/HQFile"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Updates the specified File of the specified Company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "FileId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "file",
            "in": "body",
            "description": "The updated file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HQFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/HQFile"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Deletes the specified File of the specified Company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "FileId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/CustomFields": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns all customfields of the company",
        "description": "A custom field contains a value for a certain custom field definition and is always linked to a certain entity that has custom fields, like a project.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        }
      }
    },
    "/v1/Companies({Id})/CustomFields({CustomFieldDefinitionId})": {
      "get": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Returns the custom field with the specified id of the sel...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies - Companies"
        ],
        "summary": "Updates an existing customfield of the company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/CompanyTypeToCompanies": {
      "get": {
        "tags": [
          "Companies - Company Type To Companies"
        ],
        "summary": "Returns all company types of all companies",
        "description": "A company type represents the type of a company, for example 'Customer' or 'Supplier'.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyTypeOfCompany"
              }
            }
          }
        }
      }
    },
    "/v1/CompanyTypeToCompanies({Id})": {
      "get": {
        "tags": [
          "Companies - Company Type To Companies"
        ],
        "summary": "Returns the all company types of a specified company",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyTypeOfCompany"
            }
          }
        }
      }
    },
    "/v1/CompanyTypes": {
      "get": {
        "tags": [
          "Companies - Company Types"
        ],
        "summary": "Returns all company types",
        "description": "A company type represents the type of a company, for example 'Customer' or 'Supplier'.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyType"
              }
            }
          }
        }
      }
    },
    "/v1/CompanyTypes({Id})": {
      "get": {
        "tags": [
          "Companies - Company Types"
        ],
        "summary": "Returns the specified company type",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Companies - Company Types"
        ],
        "summary": "Deletes the specified company type",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/AzureConfig": {},
    "/v1/AzureConfig({Id})": {},
    "/v1/ConfigSystemEvents": {},
    "/v1/ConfigSystemEvents({Id})": {},
    "/v1/ConfigSystemEvents/do.GetDeleted()": {
      "get": {
        "tags": [
          "Config - Config System Events"
        ],
        "summary": "Returns the system events of deleted entities",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConfigSystemEvent"
              }
            }
          }
        }
      }
    },
    "/v1/HangfireStats": {},
    "/v1/HangfireStats({Id})": {},
    "/v1/InternalCompanies": {
      "get": {
        "tags": [
          "Config - Internal Companies"
        ],
        "summary": "Returns all internal companies",
        "description": "Represents internal companies that can have different document templates and tax information.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InternalCompany"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Name": "Example Company",
                  "TaxNumber": "11/222/33333",
                  "TaxId": "DE123456789",
                  "IsTaxExempt": false,
                  "DefaultAddress": null,
                  "Id": 1,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:46.838247Z",
                  "UpdatedOn": "2022-09-26T07:47:46.838247Z"
                }
              ]
            }
          }
        }
      }
    },
    "/v1/InternalCompanies({Id})": {
      "get": {
        "tags": [
          "Config - Internal Companies"
        ],
        "summary": "Returns the internal company with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InternalCompany"
            }
          }
        }
      }
    },
    "/v1/LoginConfig": {},
    "/v1/LoginConfig('{Hostname}')": {},
    "/v1/MenuItems": {},
    "/v1/MenuItems({Id})": {},
    "/v1/ResponseTimeLogs": {},
    "/v1/ResponseTimeLogs({Id})": {},
    "/v1/Subsystem": {
      "get": {
        "tags": [
          "Config - Subsystem"
        ],
        "summary": "Returns all subsystems",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Subsystem"
              }
            }
          }
        }
      }
    },
    "/v1/Subsystem({Id})": {
      "get": {
        "tags": [
          "Config - Subsystem"
        ],
        "summary": "Returns all subsystems",
        "description": "",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Subsystem"
              }
            }
          }
        }
      }
    },
    "/v1/SystemUrl": {},
    "/v1/SystemUrl('{Hostname}')": {},
    "/v1/ContactHistories": {
      "get": {
        "tags": [
          "Contact Person - Contact Histories"
        ],
        "summary": "Returns all contact histories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactHistory"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact Person - Contact Histories"
        ],
        "summary": "Creates a new contact history",
        "parameters": [
          {
            "name": "contactHistory",
            "in": "body",
            "description": "The contact history to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactHistory"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/ContactHistories({Id})": {
      "get": {
        "tags": [
          "Contact Person - Contact Histories"
        ],
        "summary": "Returns the contact history with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactHistory"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact Person - Contact Histories"
        ],
        "summary": "Updates an existing contact history",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contactHistory",
            "in": "body",
            "description": "The contact history to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactHistory"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contact Person - Contact Histories"
        ],
        "summary": "Deletes a contact history",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/ContactPersons": {
      "get": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Returns all contact persons",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactPerson"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Creates a new contact person",
        "parameters": [
          {
            "name": "contactPerson",
            "in": "body",
            "description": "The contact person to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactPerson"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContactPerson"
            }
          }
        }
      }
    },
    "/v1/ContactPersons({Id})": {
      "get": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Returns the contact person with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactPerson"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Updates an existing contact person",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contactPerson",
            "in": "body",
            "description": "The contact person to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactPerson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactPerson"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Deletes a contact person",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/ContactPersons({Id})/CustomFields": {
      "get": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Returns all customfields of the contact person",
        "description": "A custom field contains a value for a certain custom field definition and is always linked to a certain entity that has custom fields, like a project.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        }
      }
    },
    "/v1/ContactPersons({Id})/CustomFields({CustomFieldDefinitionId})": {
      "get": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Returns the custom field with the specified id of the sel...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact Person - Contact Persons"
        ],
        "summary": "Updates an existing customfield of the contact person",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/CustomFieldDefinitions": {
      "get": {
        "tags": [
          "Custom Fields - Custom Field Definitions"
        ],
        "summary": "Returns all customfield definitions",
        "description": "A custom field definition is a customer-specific value field which extends certain entities.\r\n            Custom field definitions can currently only be created in the HQ, but can be accessed and modified in the API.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFieldDefinition"
              }
            }
          }
        }
      }
    },
    "/v1/CustomFieldDefinitions({Id})": {
      "get": {
        "tags": [
          "Custom Fields - Custom Field Definitions"
        ],
        "summary": "Returns the custom field definition with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomFieldDefinition"
            }
          }
        }
      }
    },
    "/v1/Demo": {},
    "/v1/Demo('{Token}')": {},
    "/v1/Demo('{Token}')/do.FinishDemo": {},
    "/v1/Demo('{Token}')/do.PrepareDemo": {},
    "/v1/CreditNotes": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns all creditNotes",
        "description": "A creditNote represents an outgoing creditNote you send to your customers.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CreditNote"
              }
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns the creditNote with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditNote"
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})/Positions({PositionId})/CustomFields": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns all custom fields of the creditNote positions",
        "description": "A custom field contains a value for a certain custom field definition and is always linked to a certain entity that has custom fields, like a project.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})/Positions({PositionId})/CustomFields({CustomFieldDefinitionId})": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns the custom field with the specified id of the sel...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Updates an existing custom field of the creditNote position",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})/Positions": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns all positions on the specified creditNote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentPosition"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Creates a new position on the specified creditNote",
        "description": "Creates a new document position. You can find more details about creditNotes in the <a href=\"#!/Documents_-_CreditNotes/CreditNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})/Positions({PositionId})": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns a position on the specified creditNote",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Updates an existing position on the specified creditNote",
        "description": "Updates the position on the specified creditNote. You can find more details about creditNotes in the <a href=\"#!/Documents_-_CreditNotes/CreditNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Deletes a position on the specified creditNote",
        "description": "Deletes the document position with the specified id.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/CreditNotes({Id})/DocumentFile/$value": {
      "get": {
        "tags": [
          "Documents - Credit Notes"
        ],
        "summary": "Returns the real binary data",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ODataResponse[List[Byte]]"
            }
          }
        }
      }
    },
    "/v1/DeliveryNotes": {
      "get": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Returns all delivery notes",
        "description": "Returns a list of all delivery notes.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeliveryNote"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Creates a new delivery note",
        "description": "Creates a new delivery note.\r\n            You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "deliveryNote",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryNote"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DeliveryNote"
            }
          }
        }
      }
    },
    "/v1/DeliveryNotes({Id})": {
      "get": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Returns the delivery note with the specified id",
        "description": "Returns the delivery note with the specified id.\r\n            You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryNote"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Updates an existing delivery note",
        "description": "Updates the delivery note with the specified id.\r\n            You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "deliveryNote",
            "in": "body",
            "description": "The model to update the devilvery note,",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryNote"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Deletes a delivery note",
        "description": "Deletes the delivery note with the specified id. \r\n            You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/DeliveryNotes({Id})/Positions": {
      "get": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Returns all positions on the specified delivery note",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BaseDocumentPosition"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Creates a new position on the specified delivery note",
        "description": "Creates a new document position. You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseDocumentPosition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BaseDocumentPosition"
            }
          }
        }
      }
    },
    "/v1/DeliveryNotes({Id})/Positions({PositionId})": {
      "get": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Returns a position on the specified delivery note",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDocumentPosition"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Updates an existing position on the specified delivery note",
        "description": "Updates the document position. You can find more details about delivery notes in the <a href=\"#!/Documents_-_DeliveryNotes/DeliveryNotesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseDocumentPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDocumentPosition"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents - Delivery Notes"
        ],
        "summary": "Deletes a position on the specified delivery note",
        "description": "Deletes the document position with the specified id.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/DocumentConditions": {
      "get": {
        "tags": [
          "Documents - Document Conditions"
        ],
        "summary": "Returns all document conditions",
        "description": "A document condition is either a delivery condition or a payment condition. \r\n            These conditions contain information about legal texts and due dates that should be displayed on the document.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentCondition"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Name": "14 Days ",
                  "Text": null,
                  "DisplayText": null,
                  "DueInDays": null,
                  "Type": 0,
                  "WarningDays": null,
                  "ReminderDays": null,
                  "Language": null,
                  "DocumentEarlyPayments": null,
                  "Id": 1,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:47.4711506Z",
                  "UpdatedOn": "2022-09-26T07:47:47.4711506Z"
                },
                {
                  "Name": "7 Days",
                  "Text": null,
                  "DisplayText": null,
                  "DueInDays": null,
                  "Type": 0,
                  "WarningDays": null,
                  "ReminderDays": null,
                  "Language": null,
                  "DocumentEarlyPayments": null,
                  "Id": 0,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:47.4711506Z",
                  "UpdatedOn": "2022-09-26T07:47:47.4711506Z"
                }
              ]
            }
          }
        }
      }
    },
    "/v1/DocumentConditions({Id})": {
      "get": {
        "tags": [
          "Documents - Document Conditions"
        ],
        "summary": "Returns document conditions with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentCondition"
            }
          }
        }
      }
    },
    "/v1/DocumentPositions": {},
    "/v1/DocumentPositions({Id})": {},
    "/v1/DocumentTemplates": {
      "get": {
        "tags": [
          "Documents - Document Templates"
        ],
        "summary": "Returns all document templates",
        "description": "A document template represents the templates you designed in your HQ.\r\n            They contain your stationary, fonts and texts for invoices, quotations and other types of documents.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentTemplate"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Name": "Invoice",
                  "DocumentType": 1,
                  "Language": "de-DE",
                  "InternalCompanyId": null,
                  "InternalCompany": null,
                  "Id": 1,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:47.540658Z",
                  "UpdatedOn": "2022-09-26T07:47:47.540658Z"
                },
                {
                  "Name": "Akonto",
                  "DocumentType": 14,
                  "Language": "de-DE",
                  "InternalCompanyId": null,
                  "InternalCompany": null,
                  "Id": 1,
                  "CreatedBy": 1,
                  "UpdatedBy": 1,
                  "CreatedOn": "2022-09-26T07:47:47.540658Z",
                  "UpdatedOn": "2022-09-26T07:47:47.540658Z"
                }
              ]
            }
          }
        }
      }
    },
    "/v1/DocumentTemplates({Id})": {
      "get": {
        "tags": [
          "Documents - Document Templates"
        ],
        "summary": "Returns document template with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        }
      }
    },
    "/v1/Documents({Id})": {},
    "/v1/Documents({Id})/Files": {},
    "/v1/IncomingInvoices": {
      "get": {
        "tags": [
          "Documents - Incoming Invoices"
        ],
        "summary": "Returns the incoming invoices",
        "description": "Returns the incoming invoices",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IncomingInvoice"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Incoming Invoices"
        ],
        "summary": "Creates a new incoming invoice",
        "description": "Creates the incoming invoice. You can find more details about incoming invoices in the <a href=\"#!/Documents_-_IncomingInvoices/IncomingInvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "IncomingInvoice",
            "in": "body",
            "description": "The entity to post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncomingInvoice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IncomingInvoice"
            }
          }
        }
      }
    },
    "/v1/IncomingInvoices({Id})": {
      "get": {
        "tags": [
          "Documents - Incoming Invoices"
        ],
        "summary": "Returns the incoming invoice with the specified id",
        "description": "Returns the incoming invoice with the specified id",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncomingInvoice"
            }
          }
        }
      }
    },
    "/v1/IncomingInvoices({Id})/do.SetStatus": {
      "post": {
        "tags": [
          "Documents - Incoming Invoices"
        ],
        "summary": "Changes the status of an incoming invoice",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "InvoicesV1SetStatusParameters",
            "in": "body",
            "description": "The parameter object, where 'status' is the new status to set",
            "required": true,
            "schema": {
              "required": [
                "Status"
              ],
              "type": "object",
              "properties": {
                "Status": {
                  "enum": [
                    "Draft",
                    "WaitingForReview",
                    "Sent",
                    "PartlyPaid",
                    "CompletelyPaid",
                    "Canceled",
                    "WaitingForApproval",
                    "Approved"
                  ],
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/IncomingInvoices({Id})/Positions({PositionId})/CustomFields({CustomFieldDefinitionId})": {
      "put": {
        "tags": [
          "Documents - Incoming Invoices"
        ],
        "summary": "Updates an existing custom field of the incoming invoice ...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/Invoices": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns all invoices",
        "description": "Returns a list of all invoices. Invoices represent valid legal documents consisting of one or multiple positions and a total sum. <br />\r\n            Invoices come in several types:\r\n            <ul><li><b>Invoice</b>: an invoice you sent to a customer.</li><li><b>Advance Invoice</b>: an advance payment invoice that you sent to a customer.</li><li><b>Final Invoice</b>: the final invoice of one or several advance invoices.</li><li><b>Cancellation</b>: a cancellation of an invoice or advance invoice.</li></ul>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Invoice"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Creates a new invoice",
        "description": "Creates the invoice. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "invoice",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns the invoice with the specified id",
        "description": "Returns the invoice with the specified id. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Updates an existing invoice",
        "description": "Updates the invoice. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "invoice",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Deletes an invoice",
        "description": "Deletes the invoice with the specified id. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "If-Match header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/do.SetStatus": {
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Changes the status of an invoice",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "InvoicesV1SetStatusParameters",
            "in": "body",
            "description": "The parameter object, where 'status' is the new status to set",
            "required": true,
            "schema": {
              "required": [
                "Status"
              ],
              "type": "object",
              "properties": {
                "Status": {
                  "enum": [
                    "Draft",
                    "WaitingForReview",
                    "Sent",
                    "PartlyPaid",
                    "CompletelyPaid",
                    "Canceled",
                    "WaitingForApproval",
                    "Approved"
                  ],
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/do.CreateCancellation": {
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Creates a cancellation of a given invoice",
        "description": "Creates a cancellation of the specified invoice.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/do.CopyInvoice": {
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Creates a copy of the invoice",
        "description": "Creates a copy of the invoice. The copy is not linked to the given invoice and can be edited freely. If the original invoice has positions with reportings, freetext positions will be generated without linking to the reportings.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/do.AttachAdvanceInvoice": {
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Attaches an advance invoice to the given invoice",
        "description": "When creating a final invoice manually (not by the action 'CreateFinalInvoice' on a quotation), this action gives you the possibility to attach created advance invoices to the invoice.\r\n            By attaching advance invoices to an invoice it automatically makes the invoice a final invoice.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "key: Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "InvoicesV1AttachAdvanceInvoiceParameters",
            "in": "body",
            "description": "The parameter object, where 'advanceInvoiceId' is required and represents the Id of the advance invoice that should be attached to the invoice.",
            "required": true,
            "schema": {
              "required": [
                "AdvanceInvoiceId"
              ],
              "type": "object",
              "properties": {
                "AdvanceInvoiceId": {
                  "format": "double",
                  "type": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/Positions({PositionId})/CustomFields": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns all custom fields of the invoice positions",
        "description": "A custom field contains a value for a certain custom field definition and is always linked to a certain entity that has custom fields, like a project.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomField"
              }
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/Positions({PositionId})/CustomFields({CustomFieldDefinitionId})": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns the custom field with the specified id of the sel...",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Updates an existing custom field of the invoice position",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomFieldDefinitionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "CustomField",
            "in": "body",
            "description": "The customfield body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomField"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/Positions": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns all positions on the specified invoice",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentPosition"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Creates a new position on the specified invoice",
        "description": "Creates a new document position. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        }
      }
    },
    "/v1/Invoices({Id})/Positions({PositionId})": {
      "get": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Returns a position on the specified invoice",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Documents - Invoices"
        ],
        "summary": "Updates an existing position on the specified invoice",
        "description": "Updates the document position. You can find more details about invoices in the <a href=\"#!/Documents_-_Invoices/InvoicesV1_Get\">GET operation description</a>.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PositionId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "position",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPosition"
            }
          }
[...]
