body, html {
  margin: 0;
  padding: 0;
}

/* general purpose elements */

h1 {
  color: #fa6d8b;
}

h2 {
  color: #fa6d8b;
}

h3 {
  color: #fa6d8b;
}

h4 {
  color: #fa6d8b;
}

._flx {
  display: flex;
}

._flx-1 {
  flex: 1;
}

._table {
  padding: 40px 15px;
  padding-top: 80px;
  display: table;
}

._cell {
  display: inline-block;
  padding: 15px 12px;
}

._text {
  vertical-align: middle;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 500;
  color: #587292;
}

/* fixed purpose elements */

.portal {
  text-decoration: none;
}

.header {
  margin: 0 auto;
}

.nav {}

.rule {
  margin-top: 15px;
  height: 0;
  border: 0;
  border-top: 1px solid #AFAFC3;
}

.logo {
  vertical-align: middle;
  height: 55px;
  transform: translateY(-5px);
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}

.tab,
.tab:link,
.tab:visited {
  text-decoration: none;
  margin-bottom: 7px;
  cursor: pointer;
}

.tab:hover{
  border-radius: 12px;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%)
}

/* fixed purpose modifiers */

.--active,
.--active:link,
.--active:hover,
.--active:active,
.--active:visited {
  font-weight: 600;
}

/* footer */

._footer {
  font-size: 12px;
  font-weight: 400;
  color: #ff4155;
  text-align: center;
  margin-bottom: 12px;
}

._footer a {
  font-weight: 400;
  color: #ff4155;
  text-decoration: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
